.analog-clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px solid #333;
  border-radius: 50%;
  margin: auto;
  background: white;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  background: #333;
}
.hour-hand {
  width: 6px;
  height: 50px;
}
.minute-hand {
  width: 4px;
  height: 70px;
}
.second-hand {
  width: 2px;
  height: 90px;
  background: red;
}
.center-dot {
  position: absolute;
  width: 10px; height: 10px;
  background: #333;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
