h1 {
  color: marron;
}

.post {
  background-color: blanchedalmond;
}

.user {
  font-style: italic;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

form {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
