<%- include("includes/header.ejs") %>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1 + 2 %> </h3>
    <h3> <%= 
    
    ["diensh","varsha","brutu"][2]

    %> </h3>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam dolore labore, harum impedit quaerat ea. Distinctio earum, et voluptates repellat quas, fugiat magnam aliquam dolor laborum dignissimos, iste culpa?
    Corrupti fugiat esse dignissimos. Atque labore quaerat dolore impedit, totam non? Mollitia voluptatibus laboriosam fuga explicabo, expedita dolores, eos, quisquam velit similique libero delectus asperiores modi nesciunt voluptates necessitatibus nobis.
    Perspiciatis aperiam itaque voluptatem commodi a nostrum exercitationem quis rerum temporibus error maiores velit excepturi mollitia illum harum provident, nesciunt qui beatae repudiandae numquam est? Aliquam laborum ad dignissimos id.
    Eaque, doloremque recusandae. Asperiores ad quas minima itaque dignissimos odit minus vero iusto! A, ratione soluta veritatis ut voluptatibus necessitatibus, culpa voluptas distinctio voluptate, expedita similique rem adipisci. Quod, aliquid?
    Voluptates aut temporibus dicta distinctio, vel beatae soluta saepe quia rem dignissimos in et at. Repudiandae est temporibus illo, ratione ipsum aliquid laborum reprehenderit voluptatum laboriosam velit nesciunt dignissimos harum.</P>
    <button>test</button>
</body>
<script src="/app.js"></script>
</html>